<div class="row">
  <div class="col-sm-4 text-center">
    <img src="https://image.tmdb.org/t/p/w500{{movie?.poster_path}}" style="height:450px">
  </div>
  <div class="col-sm-7 text-justify">
      <h2>{{movie?.title}} </h2>
      <hr>
      <span *ngIf="movie?.overview!=''">{{movie?.overview}}</span>
      <span *ngIf="movie?.overview==''">No existe reseña</span>
      <hr>
      <b>Popularidad: </b>{{movie?.popularity}}<p>
      <b>Califación: </b>{{movie?.vote_average}}
      <p></p>
      <button class="btn btn-sm btn-outline-danger" [routerLink]="['/'+rutaPrevia]">
        Regresar <!--  {{rutaPrevia}} -->
      </button>
  </div>
</div>

