
<div class="row">
  <div class="col-4 margen-top1" *ngFor="let movie of movies |orderByCustom:'popularity,desc'">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" *ngIf="movie.backdrop_path!=null" src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Card image cap">
        <img class="card-img-top" *ngIf="movie.backdrop_path==null" src="./assets/img/noImage.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}-{{movie.popularity}}</h5>
          <p class="card-text">{{movie.overview | slice : 0 : 150 }}</p>
          <a [routerLink]="['/movie',movie.id,'buscador/'+busqueda]" class="btn btn-outline-dark btn-sm">Ver película</a>
        </div>
      </div>
  </div>
</div>

